body {
    background-color: #808080; /* Gris */
    color: white; /* Letras blancas */
}


.carousel img {
    width: 100%;
    height: 600px; /* Tamaño uniforme para todas las imágenes del carrusel */
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 30px; /* Tamaño más pequeño para las tarjetas */
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.card-img-top {
    width: 100%;
    height: 300px; /* Tamaño más grande y uniforme para todas las tarjetas */
    object-fit: cover;
}
